<%- include("../partials/header") %>
<h2 id="teamInfo">TEAM INFO</h2>
<table>
  <thead>
    <tr>
      <th>Team Name</th>
      <th>player Name</th>
      <th>Age</th>
      <th>Position</th>
  </tr>
  </thead>
  <tbody>
    <% team.playerName.forEach(function(ele, i) { %>
    <tr class="tInfo">
        <td> <%= team.teamName %> </td>
         <td><%= ele %> </td>
         <td> <%= team.age[i] %> <td>
         <td> <%= team.position[i] %>, </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include("../partials/footer") %>