<%- include("../partials/header") %>
<h2 class="teamInfo">TEAM INFO</h2>
<h2 class="tNameInfo"> <%= team.teamName %> </h2>
<table>
  <thead>
    <tr>
      <th class="pNameInfo">player Name</th>
      <th class="pAgeInfo">Age</th>
      <th class="pPositionInfo">Position</th>
  </tr>
  </thead>
  <tbody>
    <% team.playerName.forEach(function(ele, i) { %>
      <tr class="tInfo">
        <td><%= ele %> </td>
        <td> <%= team.age[i] %> </td>
        <td> <%= team.position[i] %> </td>
    <% }) %>
      </tr>
    <form action="/teams/<%= team._id %>?_method=PUT" method="POST"> 
      <input name="teamName" value="<%= team.teamName %>">
      </select>
      <button type="submit">Update Team</button>
    </form>
    
  </tbody>
</table>

<%- include("../partials/footer") %>