<%- include("../partials/header") %>
<br></br>
<form id="addCourt" action="/courts" method="POST">
  <h1 id="reserve"> Reserve A Court</h1> 
  <label id="pickCourtNo">Pick a Court Number</label>
  <select name="courtNo" type="number">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <br></br>
  <label id="selectPTime">Select a playing Time</label>
  <select name="playingTime" type="string">
    <option value="10:00-12:30">10:00-12:30</option>
    <option value="1:00-3:30">1:00-3:30</option>
    <option value="4:00-6:30">4:00-6:30</option>
    <option value="7:00-9:30">7:00-9:30</option>
  </select>
  <br></br>
  <label id="selectYTeam">Select Your Team</label>
  <select name="teamsId">
      <%- teams.map(t => 
        `<option value="${t._id}">${t.teamName}</option>`
      ).join('') %>
  </select>
  <button type="submit"> Join this court </button>
</form>
<h2 class="Courts"> Courts </h2>
<table>
  <thead>
    <tr>
      <th class="cNo">Court No.</th>
      <th class="playTime">Reservation Time:</th>
      <th class="cTeamName">Team</th>
  </tr>
  </thead>
  <tbody>
    <tr class="cInfo">
      <% courts.forEach(function(c) { %>
        <td> <%= c.courtNo %> </td>
        <td> <%= c.playTime %> </td>
        <% c.teams.forEach(function(ct) { %>
         <td> <a href="/teams/<%= ct._id %>"><%= ct.teamName %></a></td>
        <% }) %>
      <% }) %>
    </tr>
  </tbody>
</table>

<%- include("../partials/footer") %>