<%- include("../partilas/header") %>
<h2 class="reservationInfo">Court Reservation</h2>
<h2 class="tNameInfo"> <%= team.teamName %> </h2>
<table>
  <thead>
    <tr>
      <th>Court Number</th>
      <th>Reservation Time</th>
  </tr>
  </thead>
  <tbody>
    <% team.playerName.forEach(function(ele, i) { %>
    <tr class="tInfo">
        
         <td><%= court.courtNo %> </td>
         <td> <%= court.playingTime %> <td>
    </tr>
    <% }) %>
  </tbody>
</table>



<%- include("../partials/footer") %>
